.search{
display: flex;
width: 100%;
min-height: 100vh;
padding-top: 3vw ;
padding-bottom: 10vw ;
flex-direction: column;
align-items: center;
gap: 6vw;
background: linear-gradient(180deg, #FFF 15%, #DBE7FD 100%);
}

.search-top{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 2.5vw;
}

.search-top-var{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 0.3vw;
}

.search-top-var-textdiv{
display: flex;
padding-left: 4vw;
gap: 2vw;
justify-content: center;
align-items: center;
}

.search-top-var-textdiv-text{
color: #373B61;
font-family: Pretendard;
font-size: 1.2vw;
font-style: normal;
font-weight: 500;
line-height: 40px;
}

.search-top-var-rec{
display: flex;
width: 35vw;
padding: 1vw 3.8vw;
justify-content: flex-start;
align-items: center;
background: rgba(255, 255, 255,0.9);
border-radius: 8.5vw;
backdrop-filter: blur(1.2vw); 
-webkit-backdrop-filter: blur(1.2vw);    
}

.search-top-var-border{
position: relative;
padding: 0.2vw;
border-radius: 8.5vw;
background: linear-gradient(135deg, hsla(234, 100%, 64%, 1), hsla(214, 91%, 93%, 1));
box-shadow: 0 0.7vw 2.1vw rgba(39, 39, 48, 0.04);
}

.search-top-var-right{
display: flex;
padding-left: 1vw;
align-items: center;
gap: 2vw;
border-left: 0.2vw solid #9CA2AB;
}

.search-bottom{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 3vw;
}

.search-bottom-context{
display: flex;
padding: 2vw 0;
align-items: flex-start;
gap: 13vw;
}

.search-bottom-context-numbertxt{
display: flex;
justify-content: flex-start;
width:8vw;
color: #4F545B;
font-family: Pretendard;
font-size: 2.2vw;
font-style: normal;
font-weight: 700;
white-space: nowrap;
}

.search-bottom-context-right{
display: flex;
align-items: center;
gap: 2.5vw;
}

.search-bottom-context-right-text{
display: flex;
width: 30vw;
flex-direction: column;
align-items: flex-start;
gap: 1.2vw;
}

.search-bottom-context-right-text-name{
color: #4F545B;
font-family: Pretendard;
font-size: 2.2vw;
font-weight: 700;
white-space: nowrap;
}

.search-bottom-context-right-text-more{
display: flex;
width: 15vw;
flex-direction: column;
align-items: flex-start;
gap: 0.15vw;
}

.search-bottom-context-right-text-more-small{
color: #4F545B;
font-family: Pretendard;
font-size: 1.2vw;
font-style: normal;
font-weight: 400;
white-space: nowrap;
}

.ai-txt{
color: #4F545B;
font-family: Pretendard;
font-size: 1.2vw;
font-style: normal;
font-weight: 700;
white-space: nowrap;
}

.search-top-var-input{
width: 32vw;
color: #373B61;
text-align: flex-start;
font-family: Pretendard;
font-size: 1.9vw;
font-style: normal;
font-weight: 700;
flex: 1;
border: none;
background: transparent;
outline: none;
}

.search-top-var-btn {
border: none;
background: transparent;
padding: 0;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
}

.choice{
display: flex;
flex-direction: row;
align-items: flex-start;
gap: 2vw;
}

.good{
width:3vw;
height:3vw;
color:#4F545B;
}

.bad{
width:3vw;
height:3vw;
color:#4F545B;
}