.main{
display: flex;
width: 100%;
min-height: 100vh;
padding: 3vw 15vw 15vw 15vw;
flex-direction: column;
align-items: center;
gap: 4.5vw;
background: linear-gradient(180deg, #FFF 35%, #DBE7FD 100%);
box-sizing: border-box;
overflow: hidden;
}

.main-top{
display: flex;
flex-direction: column;
align-items: center;
gap: 1.5vw;
}

.main-top-two{
display: flex;
flex-direction: column;
align-items: center;
gap: 2.1vw;
}

.main-top-text{
display: flex;
flex-direction: column;
align-items: center;
gap: 0.4vw;
}

.main-top-text-small{
align-self: stretch;
color: #2C2F4E;
text-align: center;
font-family: Pretendard;
font-size: 2.7vw;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.main-top-text-big{
color: #2C2F4E;
text-align: center;
font-family: Pretendard;
font-size: 3.7vw;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.main-top-search{
display: flex;
padding: 0.9vw 3vw 0.9vw 3vw;
align-items: center;
gap: 15.5vw;
background: rgba(255, 255, 255,0.9);
border-radius: 8.5vw;
backdrop-filter: blur(1.2vw);                        
-webkit-backdrop-filter: blur(1.2vw);
}

.border{
position: relative;
padding: 0.3vw; /* 테두리 두께 */
border-radius: 8.5vw; /* 너가 원하는 둥근 정도 */
background: linear-gradient(135deg, hsla(234, 100%, 64%, 1), hsla(214, 91%, 93%, 1));
box-shadow: 0 0.7vw 2.1vw rgba(39, 39, 48, 0.04);
}

.main-top-search-text{
color: #9CA3AB;
text-align: center;
font-family: Pretendard;
font-size: 1.4vw;
font-style: normal;
font-weight: 400;
line-height: normal;
pointer-events: none;
}

.searchInput{
position: absolute;
padding-left: 3vw;
inset: 1;   
border: none; 
outline: none;  
background: transparent;
font: inherit;    
color: #0f0f11;
font-family: Pretendard;
font-size: 1.8vw;
font-style: normal;
font-weight: 600;
}

.hidden{
visibility: hidden;
}